<div class="content" id="home">
  <div id="sidebar-button">
    <img src="/images/sidebar-button.png">
  </div>
  <div id="post-info">
  {% if page.cover %}
    <div id="cover-photo-container">
	    <h1> {{ page.cover }} </h1>
      <img id="cover-photo" src="/images/{{ page.cover }}">
    </div>
  {% endif %}
  {% if page.title != "Home" %}
    <div id="info-container">
      <h1 id="title">{{ page.title }}</h1>
    </div>
  {% endif %}
  </div>
  <div class="post">
    {{ content }}
  </div>
  <div class="colophon">
    <p>
      <span id="pub-date">Last updated on {{ page.date | date_to_string }}</span> <span class="separator">&bull;</span>
    </p>
  </div>
</div>
